*{
padding:0;
margin:0;

font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
background-color:rgba(209, 224, 240, 0.342);

}

.main{
width:90%;
/* border:1px solid red; */
margin:10px auto;
/* text-align: center; */
/* font-weight:bold; */
}

h1{
font-size:3em;
/* border-bottom:5px solid yellow ; */
/* border-width:50px; */
margin-top:0.5em;
padding:1em;
text-align: center;

}
.btn{
margin-left:1em;

border-radius:0.5em;
outline:none;
border:2px solid  rgb(114, 85, 10);
/* font-weight:bold; */
color:rgb(206, 167, 69);
font-size:17px;
padding:0.4em;
background-color:white;
text-align: center;

}

.btn:hover{
background-color:rgba(132, 92, 18, 0.603);
color:white;
transition:1s;
}
.center{
    text-align: center;
}
/* tarjeta de comida */
.content_comida{
width:90%;
margin:2em auto;
display:flex;
flex-wrap:wrap;
}

.tarjeta_comida{
width:520px;

/* border:1px solid red; */
padding:0.5em;
font-size:15px;
display:flex;
justify-content:space-between;
margin:1.5em;
}
h2{
font-size:15px;
letter-spacing:0.4em;
padding:0.5em;

border-bottom:2PX rgb(72, 71, 71) dashed;
}

h2>span{
font-weight:normal;
}

.imagen{
width:600PX;

border:5PX SOLID rgb(182, 149, 30);
border-radius:0.5EM;
}

img{
width:100%;
height:100%;
}
.definicion{
    padding: 0.5em;
    }
.definicion P{
cursor:pointer;
padding:1em;
line-height:20px;
font-size:1.1em;
color:rgba(7, 7, 64, 0.468)
}