.container{
    
display:flex;
/*permite darle un comportamiento a los hijos 
diciendole que posiion quiere que tome si su tamano sobre pasa el contenedor */
flex-wrap:wrap;
height:100vh;
/* nos permite darle un direcionamiento a los hijos */
flex-direction:row-reverse;
/*nos permite */
justify-content:center;
align-items:center;
flex-flow: ;
}

.container>div{
    background:red;
width:200px;
height:200px;
margin:10px;
/* min-width:120px; */


/* background:red; */

}
.ITEM6{
    background: yellow !important;;
}